$thin-width:1px;
$middle-width:3px;
$bold-width:6px;


$one-color:#c23531;
$two-color:#2f4554; 
$three-color:#61a0a8;
$four-color:#d48265;
$five-color:#91c7ae;
$six-color:#749f83;
$seven-color:#ca8622;
$eight-color:#bda29a;
$nine-color:#6e7074;
$ten-color:#546570;
$eleven-color:#c4ccd3;